@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* header_section start */
.header_section {
  background-color: #042459;
  padding: 10px 0 0 1rem;
}

.header_container {
  display: flex;
  align-items: flex-end;
  max-width: 80%;
}

.logo img {
  width: 200px;
  height: 120px;
}

.nav_links {
  padding-left: 1.2rem;
}

.nav_links ul li {
  display: inline-block;
  list-style: none;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.nav_links ul li:nth-child(1) {
  margin-left: 0;
}

.nav_links ul li a {
  font-size: 1.1rem;
  color: #fff;
}

#engagement {
  color: orange;
}

/* hamburger code */
.links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.links ul li :hover::after {
  width: 100%;
}

.fas {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* team_building START */
.team_building {
  padding: 1rem 0 0 0;
  max-width: 100%;
}

.team_building h1 {
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

/* outdoor_section start */
.outdoor_section {
  padding: 1rem 0 0 0;
}

.outdoor_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links ul li {
  display: inline-block;
  list-style: none;
  margin-left: 2rem;
}

.links ul li:nth-child(1) {
  margin-left: 0;
}

.links ul li a {
  font-size: 1.2rem;
  color: #444;
  font-weight: 600;
}

.vertical_line {
  border-left: 2px solid #444;
  height: 15px;
  position: relative;
  top: 0;
  padding-right: 16px;
}

/* Heading Section start */
.heading_section {
  padding: 1rem 0 0 0;
  max-width: 90%;
  margin: auto;
}

.container {
  padding-left: 15px;
}

.container h1 {
  font-family: sans-serif;
}

.container h2 {
  padding-top: 1rem;
}

.container h2 span {
  font-family: sans-serif;
}

/* img_section start */
.indoor_section {
  padding: 2rem 0 2rem 0;
  max-width: 90%;
  margin: auto;
}

.outdoor_section {
  padding: 2rem 0 2rem 0;
  max-width: 90%;
  margin: auto;
}

.img_container {
  display: flex;
  align-items: center;
}

.img_container .img {
  flex-basis: 33.33%;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  padding: 0 15px 0 15px;
}

.img img {
  max-width: 100%;
}

.img-content a {
  font-size: 1rem;
}

.img-container {
  position: relative;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.78);
  z-index: 1;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 50%;
}

.btn {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  font-weight: 500;
}

.btn-primary {
  color: #fff;
  background: #117964;
}

.btn-primary:hover {
  background-color: #053b31;
}

.second_row {
  margin-top: 10px;
}

/* Outdoor html start */
.link_section {
  padding: 5px 0 0 0;
  max-width: 100%;
}

.back_link li {
  list-style: none;
}

.back_link a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: underline;
}

.card_section {
  padding: 1rem 0 0 0;
  max-width: 80%;
  margin: auto;
}

.card_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card_img {
  flex-basis: 55%;
}

.card_img img {
  max-width: 100%;
}

.card_text {
  background-color: #042459;
  flex-basis: 44%;
  padding: 2rem;
}

.card_heading h1 {
  color: #fff;
  padding-bottom: 5px;
}

.card_heading p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.horizental_line {
  border: 1px solid #c2c2c2;
  margin-top: 1rem;
}

.description {
  padding: 1rem 0 0 0;
}

.description p {
  color: #c2c2c2;
  font-size: 1.1rem;
}

.paragraph {
  padding-top: 1rem;
}

.paragraph p {
  color: #fff;
  font-size: 1rem;
}

/* responsive code */

@media (max-width: 1125px) {
  .header_container {
    max-width: 90%;
  }

  .nav_links ul li {
    margin-left: 2rem;
    margin-bottom: 10px;
  }

  .nav_links ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 970px) {
  .header_container {
    max-width: 90%;
  }

  .nav_links ul li {
    margin-left: 1.5rem;
    margin-bottom: 10px;
  }

  .card_container {
    flex-direction: column;
  }
}

@media (max-width: 795px) {
  .nav_links ul li {
    margin-left: 1rem;
    margin-bottom: 10px;
  }

  .nav_links ul li a {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 120px;
    height: 80px;
  }
  .nav_links ul li {
    display: block;
  }

  .nav_links {
    position: fixed;
    top: 0;
    right: -200px;
    text-align: left;
    background: #042459;
    height: 100vh;
    width: 200px;
    z-index: 2;
    transition: 1s;
  }

  .nav_links ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav_links a:hover {
    border-bottom: 2px solid #fff;
  }

  .fas {
    display: block;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 22px;
  }

  .nav_links ul {
    padding: 30px;
  }

  #engagement {
    color: #fff;
  }

  .img_container {
    flex-direction: column;
  }

  .img_container .img {
    margin-bottom: 10px;
  }

}

@media (max-width: 580px) {
  .team_building h1 {
    font-size: 1.1rem;
  }

  .links ul li {
    margin-left: 1rem;
  }
}

@media (max-width: 380px) {
  .team_building h1 {
    font-size: 12px;
  }

  .links ul li {
    margin-left: 12px;
  }
}
